DJ_SECRET_KEY=replace-me
DEBUG=False
DEV_ALLOWED_HOSTS=hfstudio.dev,www.hfstudio.dev,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://hfstudio.dev,https://www.hfstudio.dev
DB_DEFAULT=sqlite:////data/db.sqlite3
STATIC_URL=/static/
MEDIA_URL=/media/
MEDIA_ROOT=/app/media
APP_BIND=127.0.0.1:8000
SITE_HOSTS=hfstudio.dev,www.hfstudio.dev
HTTP_BIND=8080
HTTPS_BIND=8443
DEFAULT_FROM_EMAIL=contact@hfstudio.dev
CONTACT_TO_EMAILS=contact@hfstudio.dev
PUBLIC_CONTACT_EMAIL=contact@hfstudio.dev
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=25
EMAIL_USE_TLS=False
