.update-detail-container {
  max-width: 800px; /* Adjust width if needed */
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.update-title {
  font-size: 1.5em; /* Smaller title */
  margin-bottom: 10px; /* Reduced space below title */
  color: #333;
}

.update-date {
  font-size: 0.85em;
  color: #6c757d;
}

.update-body {
  font-size: 1.1em;
  line-height: 1.6;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-body {
  font-size: 1em;
  line-height: 1.5;
}

.comment-form {
  margin-top: 40px;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin-right: auto;
}

.comment-form form {
  display: grid;
  gap: 10px;
}

.comment-form input[type="text"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-form textarea {
  width: 90%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.comment-form input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  margin-bottom: 10px;
  float: left;
}

.comment-form h4 {
  margin-top: 0px;
  margin-bottom: -20px;
}

.comment-form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Dark mode styles */
.dark-mode .update-detail-container {
  background: #262626; /* Dark background */
  color: #fff; /* Light text for better readability */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); /* Shadow adjusted for dark mode */
}

.dark-mode .update-title {
  color: #ccc; /* Lighter text color for titles */
}

.dark-mode .update-date {
  color: #aaa; /* Lighter text color for dates */
}

.dark-mode .update-body {
  color: #ddd; /* Lighter text color for body */
}

.dark-mode .comment {
  background-color: #333; /* Darker background for comments */
  color: #fff; /* Light text color for comments */
}

.dark-mode .author {
  color: #f9f9f9; /* Lighter color for author names */
}

.dark-mode .comment-form {
  background-color: #404040; /* Dark background for form */
  color: #fff; /* Light text color for form */
}

.dark-mode .comment-form input[type="text"], 
.dark-mode .comment-form textarea {
  background-color: #333; /* Darker background for input fields */
  color: #fff; /* Light text color for input fields */
  border-color: #555; /* Adjusted border color */
}

.dark-mode .comment-form input[type="submit"] {
  background-color: #5a5a5a; /* Darker background for submit button */
  color: #ddd; /* Light text color for button */
}

.dark-mode .comment-form input[type="submit"]:hover {
  background-color: #777;
}
