{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}PZ Dev Portfolio :: {% endblock %}
    {% block title_suffix %}{% endblock %}
  </title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.png' %}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="">
</head>
<body>
  <div class="navbar">
    <img class="logo" src="{% static 'images/qn_logo_transpbg.png' %}"
                            alt="QN Logo">
    <div class="wrap">
      <div class="menu">
        <ul>
          <li class="navbar-title">PZ Dev. Portfolio</li>
          {% comment %} <li><div class="vr"></div></li> {% endcomment %}
          <li><img class="briefcase" src="{% static 'images/briefcase_logo_teal.png' %}"
                   alt="QN Logo"></li>
          <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
          <li class="active"><a href="{% url 'updates_index' %}">Updates</a></li>
          <li class="active"><a href="#">About me</a></li>
          <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="wrap">
    <div class="main">
      <div class="content">
      {% block page_content %}{% endblock %}
      <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      &copy; 2022 All rights reserved. Developed by <a href="https://quicknode.net">Quicknode.net.</a>
      Code source <a href="https://github.com/hyperfield/devportfolio" target="_blank">available on Github</a>.
    </p> 
  </div>
  {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> {% endcomment %}
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
</body>
