{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}Quicknode Development Lab :: {% endblock %}
    {% block title_suffix %}{% endblock %}
  </title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.png' %}">
  <meta name="description" content="{% block description %}Explore the innovative creations of Quicknode Development Lab. The website showcases a diverse range of projects, including websites, useful applications, and scripts.
  {% endblock %}">
  <meta name="keywords" content="{% block keywords %}quicknode, quicknode development lab, portfolio, hyperfield, web development, software development, scripts, coding{% endblock %}">
  <meta name="author" content="hyperfield">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Open Graph tags -->
  <meta property="og:title" content="{% block og_title %}Quicknode Development Lab - Web and Software Development{% endblock %}">
  <meta property="og:description" content="{% block og_description %}Delve into the world of advanced web and software development with a focus on robust back-end solutions. Explore projects demonstrating expertise in Django, Python, and PHP, reflecting a deep commitment to efficient, scalable, and innovative software design.
  {% endblock %}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% static 'images/qn_logo_transpbg.png' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fontsource/fira-code@latest/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <script>
    function updateButtonText(isDarkMode) {
      var buttonText = isDarkMode ? 'Light Mode' : 'Dark Mode';
      document.querySelectorAll('.theme-toggle').forEach(function(button) {
        if (button.tagName.toLowerCase() === 'button') {
          button.textContent = buttonText;
        }
      });
    }
  
    document.addEventListener('DOMContentLoaded', function() {
      // Apply dark mode by default
      var isDarkMode = true;
  
      // Check if user preference for light mode is stored in local storage
      var storedPreference = localStorage.getItem('darkMode');
      if (storedPreference === 'false') {
        isDarkMode = false;
        document.body.classList.remove('dark-mode');
      } else {
        document.body.classList.add('dark-mode');
      }
  
      updateButtonText(isDarkMode);
  
      // Event listeners for toggles
      document.querySelectorAll('.theme-toggle').forEach(function(toggle) {
        toggle.addEventListener('click', function() {
          isDarkMode = !isDarkMode;
          document.body.classList.toggle('dark-mode', isDarkMode);
          localStorage.setItem('darkMode', isDarkMode);
          updateButtonText(isDarkMode);
        });
      });
    });
  </script>
    
  <div class="navbar">
    <a href="/"><img class="logo" src="{% static 'images/qn_logo_transpbg.png' %}"
                            alt="Quicknode Logo"></a>
    <div class="nav-wrap">
      <div class="hamburger-menu">
        <ul>
          <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
          <li class="active"><a href="{% url 'whatido_index' %}">What I do</a></li>
          {% comment %} <li class="active"><a href="#">About me</a></li> {% endcomment %}
          <li class="active"><a href="{% url 'updates_index' %}">Updates</a></li>
          <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li class="navbar-title"></li>
          <li><img class="briefcase" src="{% static 'images/briefcase_logo_teal.png' %}"
                   alt="Briefcase"></li>
          <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
          <li class="active"><a href="{% url 'whatido_index' %}">What I do</a></li>
          {% comment %} <li class="active"><a href="#">About me</a></li> {% endcomment %}
          <li class="active"><a href="{% url 'updates_index' %}">Updates</a></li>
          <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
          <button class="theme-toggle">Dark Mode</button>
        </ul>
      </div>
      <div class="mobile-menu">
        <ul>
          <label class="theme-switch">
            <input type="checkbox" class="theme-toggle">
            <span class="slider round"></span>
          </label>
          <button class="hamburger">&#9776;</button>
        </ul>
      </div>
      <div class="clear"></div>
      </div>
  </div>
  <div class="wrap">
    <div class="main">
      <div class="content">
      {% block page_content %}{% endblock %}
      <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      &copy; 2023 Developed by <a href="https://quicknode.net">Quicknode.net.</a>
      Code source <a href="https://github.com/hyperfield/devportfolio" target="_blank">available on Github</a>.
    </p> 
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var hamburger = document.querySelector('.hamburger');
      var hamburgerMenu = document.querySelector('.hamburger-menu');

      hamburger.addEventListener('click', function() {
        hamburgerMenu.classList.toggle('active');
      });
    });
  </script>

    {% block scripts %}
    <!-- Default scripts can go here -->
    {% endblock %}
</body>
