{% extends "base.html" %}
{% load static %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
{% endblock %}
{% block title_suffix %}Projects {{ subtitle }}{% endblock %}
{% block page_content %}
<div class="section-title">Projects {{ subtitle }}
  <div class="projects-filter">
    Show:&nbsp;
    <a href="{% url 'project_index' %}">All</a>
    <a href="{% url 'project_technology' technology='C++' %}">C++</a>
    <a href="{% url 'project_technology' technology='Django' %}">Django</a>
    <a href="{% url 'project_technology' technology='PHP' %}">PHP</a>
    <a href="{% url 'project_technology' technology='Python' %}">Python</a>
    <a href="{% url 'project_category' category='Application' %}">Applications</a>
    <a href="{% url 'project_category' category='Game' %}">Games</a>
    <a href="{% url 'project_category' category='Website' %}">Websites</a>
  </div>
</div>

<div id="projects-grid">
  {% for project in projects %}
  <div class="project-item">
    <div class="card">
      <div class="card-header">
        {{ project.category }}
        <div class="logo-block">
          {% for technology in project.technologies.all %}
            {% if technology.logotype %}
              <img class="tech-logo" src="{{ technology.logotype.url }}" alt="{{ technology.title }}">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <img class="card-img-top" src="{{ project.gallery.all.0.image.url }}" alt="{{ project.title }}">
      <div class="card-body">
        <h5 class="project-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.short_description }}</p>
        {% if project.url %}
          <p class="card-text">URL: 
            <a href="{{ project.url }}" target="_blank">{{ project.url_name }}</a>
          </p>
        {% endif %}
        {% if project.src_url %}
          <p class="card-text">Source code: 
            <a href="{{ project.src_url }}" target="_blank">{{ project.src_url_name }}</a>
          </p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">
          Read More
        </a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var grid = document.querySelector('#projects-grid');
    // Initialize Masonry after all images have loaded
    imagesLoaded(grid, function() {
      new Masonry(grid, {
        itemSelector: '.project-item',
        columnWidth: '.project-item',
        gutter: 15
      });
    });
  });
</script>
{% endblock %}
