{% extends "base.html" %}
{% load static %}
{% block title_suffix %}{{ project.title }}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/borland.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/project_detail.css" %}" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="project-detail-container">
    <h1 class="project-title">{{ project.title }}</h1>
    <div class="project-gallery">
      {% for image_obj in project_images %}
        <a href="{{ image_obj.image.url }}" data-lightbox="project-gallery" data-title="{{ project.title }}">
          <img src="{{ image_obj.image.url }}" alt="{{ project.title }}" class="project-thumbnail">
        </a>
      {% endfor %}
    </div>
    <div class="project-description">
        <h5>About the project</h5>
        <p>{{ project.markdown_long_description|safe|linebreaks }}</p>
        <br>
        <h5>Technologies used</h5>
        <p>
          {% for technology in project.technologies.all %}
            {{ technology.title }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </p>
        <br>
        <h5>Project status</h5>
        <p>{{ project.status }}</p>
        {% if project.url %}
        <h5>Link<br>
          <a href="{{ project.url }}" target="_blank">{{ project.url_name }}</a>
        </h5>
        {% endif %}
        {% if project.src_url %}
        <h5>Link to source code<br>
          <a href="{{ project.src_url }}" target="_blank">{{ project.src_url_name }}</a>
        </h5>
        {% endif %}
        <br>
        <a href="{% url 'project_index' %}"
          class="btn btn-primary">
          Return
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endblock %}
