{% extends "base.html" %}
{% load static %}
{% block title_suffix %}What I can do{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/whatido_index.css" %}">
{% endblock %}
{% block page_content %}
<div class="content-container">
  <h2 class="section-title">Things I can do</h2>
  <hr>
  <div class="categories">
    {% for category in task_categories %}
      <div class="category">
        <h3>{{ category.category_name }}</h3>
        <ul class="tasks">
          {% for task in category.tasks.all %}
            <li class="task">
              {% if task.task_desc %}
                <details>
                  <summary>{{ task.task_name }}</summary>
                  <p class="task-desc">{{ task.task_desc|safe }}</p>
                </details>
              {% else %}
                {{ task.task_name }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
